*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #263f44;
}

#game-grid{
    background-color: #015668;
}

h1{
    font-family: 'MuseoModerno', cursive;
    color: rgb(243, 243, 243);
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 50px;
}

#game-grid{
    display: block;
    width: 400px;
    margin: auto;
}

@media only screen and (max-width: 600px){
    #game-grid{
        width: 300px;
    }

    h1{
        margin-bottom: 30px;
    }
}

.controls{
    text-align: center;
    margin-top: 4vh;
}

.move-btn{
    background: none;
    margin-bottom: 10px;
    width: 30px;
    border: 1px solid rgb(243, 243, 243);
    color: rgb(243, 243, 243);
    border-radius: 3px;
}
.move-btn:hover{
    background-color:#015668;
}
.ArrowLeft{
    margin-right: 15px;
}

.ArrowRight{
    margin-left: 15px;
}

.fas{
    padding: 5px;
}

.pressed{
    box-shadow: 0 2px 1px 0 #DBEDF3;
    opacity: 0.5;
}

.restart {
    background-color: rgb(243, 243, 243);
    color: #263f44;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'MuseoModerno', cursive;
    width: 100px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
    z-index: -1;
  }

  .restart:hover {
    background-color: #263f44;
    color: rgb(243, 243, 243);
  }